body {
    margin: 0;
    font-family: "Tiny5", sans-serif;
    overflow: hidden;
}

.ui-layer {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10; 

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 300;
    padding: 5px 25px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    color: white;
}

.heading {
    font-size: 86px;
    height: 100px;
    margin: 0;
    margin-top: 20px;
    color: white;
}

.btn-menu,
.btn-login {
    font-size: 28px;
}


.main-content {
    position: relative; 
    
    margin-top: 20px;
    width: 100%;
    height: calc(100vh - 120px); 
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    box-sizing: border-box; 
    padding: 0 40px; 
    gap: 20px;
}


.left-section {
    flex: 3; 
    min-width: 400px; 
    height: 100%;
    
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;    
}


.workspace {
    flex: 7; 
    height: 80%; 
    
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(59, 193, 168, 0.3);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.btn-login a { text-decoration: none; color: inherit; }
.btn-login a:hover { opacity: 0.8; }
.btn-login:active { opacity: 0.6; }
.btn-menu:hover { opacity: 0.8; }
.btn-menu:active { opacity: 0.6; }


.left-section, 
.workspace {
    transition: opacity 1.5s ease-out, transform 1.5s ease-out, filter 1.5s ease-out;
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}

.main-content.waiting-to-start .left-section,
.main-content.waiting-to-start .workspace {
    opacity: 0;
    pointer-events: none; /* Prevents clicking while hidden */
    transform: scale(0.95); /* Slight zoom-in effect on reveal */
    filter: blur(10px); /* Cool glass blur effect while hidden */
}

.hidden{
    display: none;
}
