.background{
    height: 100vh; 
    background-image: url("../background/wall.png");
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;  

    position: fixed;
    inset: 0;

    z-index: -1;
}

#fireflies,
#scary-fireflies {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 2;
}